.wall-container{
    width: 100%;
    height: 100vh;
    border: 10px #C80000 solid;
    padding: 20px;
    background-color: #FFED10;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #C80000;
    color: blanchedalmond;
    padding: 10px;
}